[Desktop Entry]
Name=Remote Viewer
Name[as]=দূৰৱৰ্তী দৰ্শক
Name[bn_IN]=দূরবর্তী প্রদর্শন
Name[de]=Remote-Viewer
Name[es]=Visor remoto
Name[fr]=Afficheur distant
Name[gu]=દૂરસ્થ દર્શક
Name[hi]=दूरस्थ दर्शक
Name[hu]=Távoli megjelenítő
Name[it]=Visualizzatore remoto
Name[ja]=リモートビューアー
Name[kn]=ದೂರಸ್ಥ ವೀಕ್ಷಕ
Name[ko]=원격 뷰어
Name[ml]=റിമോട്ട് വ്യൂവര്‍
Name[mr]=रिमोट व्युअर
Name[nl]=Viewer op afstand
Name[or]=ସୁଦୂର ପ୍ରଦର୍ଶିକା
Name[pa]=ਰਿਮੋਡ ਦਰਸ਼ਕ
Name[pl]=Zdalne przeglądanie
Name[pt_BR]=Visualizador remoto
Name[ru]=Удаленный просмотр
Name[sv]=Fjärrvisare
Name[ta]=தொலைநிலை காட்டி
Name[te]=దూరస్థ దర్శని
Name[uk]=Віддалений переглядач
Name[zh_CN]=远程查看程序
Name[zh_TW]=遠端檢視器
Comment=Access remote desktops
Exec=remote-viewer %u
Type=Application
Terminal=false
MimeType=x-scheme-handler/spice;application/x-virt-viewer
StartupNotify=true
Categories=GNOME;GTK;Network;RemoteAccess;
