#!/bin/sh -e

###############################################################################
#
#   $Id: //icaclient/unix/soc/release/client/unix/Debian/debian/config.template#2 $
#
#   Copyright 2008-2011 Citrix Systems, Inc.  All Rights Reserved.
#
###############################################################################

# Update the EULA release version whenever the EULA is updated
EULA_LAST_UPDATED=12.0.0

# Update the current version number whenever version number changes
CURR_INSTALL_VER=12.2.3

# Previous installed version is passed to this script by Debconf
# <config> `configure' <old-version>
PREV_INSTALLED_VER=$2 

# Set internal field separator
OLDIFS=$IFS
IFS="."

# Extract the major/minor digits for the current version.
# Force major minor release to positional parameters $1 $2 $3
set -- $CURR_INSTALL_VER
CURR_MAJOR_MINOR="$1.$2"

# Extract the major/minor digits for the previous version.
set -- $PREV_INSTALLED_VER
PREV_MAJOR_MINOR="$1.$2"

# Reset internal field separator to old value
IFS=$OLDIFS

if [ "yes" = "yes" ]
then
    # Source debconf library.
    . /usr/share/debconf/confmodule

    # Check version number to see if EULA need to be shown on upgrade/downgrade/eula update
    if [ "$PREV_INSTALLED_VER" != "" ] ; then
       if dpkg --compare-versions "$PREV_MAJOR_MINOR" ne "$CURR_MAJOR_MINOR" || # Allow packages in same series to skip EULA
	  dpkg --compare-versions "$PREV_INSTALLED_VER" lt "$EULA_LAST_UPDATED" || # Check if EULA changed
          dpkg --compare-versions "$CURR_INSTALL_VER" lt "$PREV_INSTALLED_VER" ; then # Prompt EULA on downgrade
   
          # Reset the Flag and Value fields in the database
          db_reset icaclient/accepteula
       fi
    fi

    # Check the database to see if we have a pre-seeded answer to the EULA.
    # OEMs may use this to allow automatic image generation.
    db_get icaclient/accepteula
    EULA_ACCEPTED="$RET"

    if [ "$EULA_ACCEPTED" = "false" ]; then
       db_input critical icaclient/accepteula
       db_go
    fi
fi
